.headerWrap .container01{
    background: rgb(220, 247, 199);
    width: 2100px;
    height: 100px;
}

.Toggle{
    position: absolute;
    left: 70%;
    cursor: pointer;
}

h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.tabMenu {
    padding: 100px 0;
    background: #f2f2f2;

}

.tabMenu .container{
    width: 600px;
    margin: 0 auto;
}

.tabMenu .tabLink{
    text-align: center;
    display: flex;
}

.tabMenu .tabLink li{
    flex: 1;
}

.tabMenu .tabLink li{
    cursor: pointer;
    margin-bottom: 5px;
}

.tabMenu .tabLink li.active{
    color: aqua;
}

.tabMenu .tabContent{
    margin-bottom: 10px;    
    position: relative;
}

.contentmenu:nth-child(1){
    background: rgb(208, 233, 216);
    position: absolute;
    left: 0%;
}
.contentmenu:nth-child(2){
    background: rgb(208, 233, 216);
    position: absolute;
    left: 25%;
}
.contentmenu:nth-child(3){
    background: rgb(208, 233, 216);
    position: absolute;
    left: 50%;
}
.contentmenu:nth-child(4){
    background: rgb(208, 233, 216);
    position: absolute;
    left: 75%;
}

.tabMenu .tabContent>div{
    display: none;
}

.tabMenu .tabContent>div.active{
    display: block;
    text-align: center;
    width: 25%;
    
}

.bgfixed {
   padding: 200px 0;
   text-align: center;
   color: #fff;
   background: url(../img_iu/iu4.jpg) no-repeat center center/cover ;
   background-attachment: fixed;
}

.bgfixed h2{
   font-size: 15px;
   font-weight: 100;
   letter-spacing: 10em;
   margin-bottom: 30px;
}
