/**/

.topBanner{
    padding: 24px 0;
    background: #f3f3f3;
}

.topBanner .container{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.topBanner h2{
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.040em;    
    margin-bottom: 10px;
}

.topBanner p{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.025em;    
    margin-bottom: 10px;
}

.topBanner a{
    margin-left: 20px;
    padding:0 20px 2px 20px;
    height: 16px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 300;
    border:black solid 1px;
}

.topBanner .container i{
    position:absolute;
    top:0;
    right:15px;
    font-size: 24px;
    cursor: pointer;
}

/* topBanner : 22.03.17 수정 */
/* Header : 22.03.17 수정 */

.headerWrap{}

.headerWrap .container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.headerWrap .container>* {
    padding: 0 15px;
}

.headerWrap .serchForm{
    margin-left: auto;
}


